     * {
         box-sizing: border-box;
         margin: 0;
         padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
     }
     
     body {
         margin: 0;
         font-size: 16px;
         display: flex;
         justify-content: center;
     }
     
     .key {
         font-size: 1.5em;
         padding: 20px;
         text-align: center;
     }
     
     #displayResult {
         text-align: right;
         font-size: 3.5em;
         padding: 0 20px;
         box-sizing: border-box;
         display: flex;
         flex-direction: column;
         justify-content: center;
         height: 28%;
         width: 100%;
         background-color: #eee;
         color: #444;
         font-family: resultfonts;
     }
     
     #app {
         height: 80%;
         width: 80%;
         min-height: 280px;
         max-width: 580px;
         position: relative;
         margin-top: 150px;
     }
     
     #keypad {
         height: 72%;
         width: 100%;
         color: #ddd;
         font-family: myfonts;
         display: flex;
     }
     
     .nums {
         height: 100%;
         width: 70%;
         display: grid;
         grid-template-columns: auto auto auto;
         padding-left: 10px;
         padding-right: 10px;
         background-color: #19676E;
         outline: none;
     }
     
     .ops {
         height: 100%;
         display: grid;
         grid-template-columns: auto auto;
         float: right;
         overflow: auto;
         width: 30%;
         background-color: #ad3a3a;
         outline: none;
     }
     
     .nums input {
         padding: 19%;
         background-color: #19676E;
         outline: none;
     }
     
     .ops input {
         padding: 40%;
         background-color: #ad3a3a;
         outline: none;
     }
     
     .ops input:active,
     .ops input:hover {
         background-color: rgb(112, 112, 112);
     }
     
     .nums input:active,
     .nums input:hover {
         background-color: rgb(31, 137, 143);
     }